/**
 * StudiolSM Helper classes
 * @version 2.3.0
 * Compiled CSS from SCSS source
 */

/* Helpers
--------------------------------------------- */

.with-overflow-hidden {
	overflow: hidden;
}

.with-overflow-clip {
	overflow: initial;
	overflow: clip;
}

.with-z--1 {
	z-index: -1;
}

.with-z-1000 {
	z-index: 1000;
}

.with-z-2000 {
	z-index: 2000;
}

.with-z-3000 {
	z-index: 3000;
}

.with-z-4000 {
	z-index: 4000;
}

.with-z-5000 {
	z-index: 5000;
}

.with-z-6000 {
	z-index: 6000;
}

.with-z-7000 {
	z-index: 7000;
}

.with-z-8000 {
	z-index: 8000;
}

.with-z-9000 {
	z-index: 9000;
}

.with-z-9999 {
	z-index: 9999;
}

.with-top-10 {
	top: var(--wp--preset--spacing--10) !important;
}

.with-top-20 {
	top: var(--wp--preset--spacing--20) !important;
}

.with-top-30 {
	top: var(--wp--preset--spacing--30) !important;
}

.with-top-40 {
	top: var(--wp--preset--spacing--40) !important;
}

.with-top-50 {
	top: var(--wp--preset--spacing--50) !important;
}

.with-top-60 {
	top: var(--wp--preset--spacing--60) !important;
}

.with-top-70 {
	top: var(--wp--preset--spacing--70) !important;
}

.with-nowrap {
	white-space: nowrap;
}

.with-text-decoration-none {
	text-decoration: none;
}

.with-text-decoration-none a {
	text-decoration: none;
}

.with-text-decoration-none a:hover {
	text-decoration: none;
}

.with-max-height-none {
	max-height: none !important;
}

.with-rotate-plus-2 {
	transform: rotate(2deg);
}

.with-rotate-plus-3 {
	transform: rotate(3deg);
}

.with-rotate-minus-2 {
	transform: rotate(-2deg);
}

.with-rotate-minus-3 {
	transform: rotate(-3deg);
}

.with-display-none {
	display: none;
	opacity: 0;
}

.with-display-none-when-empty:empty {
	display: none;
	opacity: 0;
}

/* Responsive
--------------------------------------------- */

@media screen and (min-width: 1024px) {
	.with-large-border-red {
		border: 1px solid red !important;
	}

	.with-large-display-none {
		display: none;
		opacity: 0;
	}

	.with-large-display-none-when-empty:empty {
		display: none;
		opacity: 0;
	}

	.with-large-reverse-order {
		flex-direction: column-reverse;
	}

	.with-large-alignment-left {
		justify-content: flex-start !important;
		text-align: left;
	}

	.with-large-alignment-center {
		justify-content: center !important;
		text-align: center;
	}

	.with-large-alignment-right {
		justify-content: flex-end !important;
		text-align: right;
	}
}

@media screen and (max-width: 1024px) {
	.with-max-large-border-red {
		border: 1px solid red !important;
	}

	.with-max-large-display-none {
		display: none;
		opacity: 0;
	}

	.with-max-large-display-none-when-empty:empty {
		display: none;
		opacity: 0;
	}

	.with-max-large-reverse-order {
		flex-direction: column-reverse;
	}

	.with-max-large-alignment-left {
		justify-content: flex-start !important;
		text-align: left;
	}

	.with-max-large-alignment-center {
		justify-content: center !important;
		text-align: center;
	}

	.with-max-large-alignment-right {
		justify-content: flex-end !important;
		text-align: right;
	}
}

@media screen and (min-width: 768px) {
	.with-medium-border-red {
		border: 1px solid red !important;
	}

	.with-medium-display-none {
		display: none;
		opacity: 0;
	}

	.with-medium-display-none-when-empty:empty {
		display: none;
		opacity: 0;
	}

	.with-medium-reverse-order {
		flex-direction: column-reverse;
	}

	.with-medium-alignment-left {
		justify-content: flex-start !important;
		text-align: left;
	}

	.with-medium-alignment-center {
		justify-content: center !important;
		text-align: center;
	}

	.with-medium-alignment-right {
		justify-content: flex-end !important;
		text-align: right;
	}
}

@media screen and (max-width: 768px) {
	.with-max-medium-border-red {
		border: 1px solid red !important;
	}

	.with-max-medium-display-none {
		display: none;
		opacity: 0;
	}

	.with-max-medium-display-none-when-empty:empty {
		display: none;
		opacity: 0;
	}

	.with-max-medium-reverse-order {
		flex-direction: column-reverse;
	}

	.with-max-medium-alignment-left {
		justify-content: flex-start !important;
		text-align: left;
	}

	.with-max-medium-alignment-center {
		justify-content: center !important;
		text-align: center;
	}

	.with-max-medium-alignment-right {
		justify-content: flex-end !important;
		text-align: right;
	}
}

@media screen and (max-width: 767px) {
	.with-mobile-border-red {
		border: 1px solid red !important;
	}

	.with-mobile-display-none {
		display: none;
		opacity: 0;
	}

	.with-mobile-display-none-when-empty:empty {
		display: none;
		opacity: 0;
	}

	.with-mobile-reverse-order {
		flex-direction: column-reverse;
	}

	.with-mobile-alignment-left {
		justify-content: flex-start !important;
		text-align: left;
	}

	.with-mobile-alignment-center {
		justify-content: center !important;
		text-align: center;
	}

	.with-mobile-alignment-right {
		justify-content: flex-end !important;
		text-align: right;
	}
}